@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
@import url('http://fonts.cdnfonts.com/css/verdana');


html{
    /* empty-state */
    position: relative;
    width: 575px;
    height: 385px;

    background: #1B244A;
}
/*home side*/
#home{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    /* identical to box height, or 90% */
    text-align: center;

    color: #EEEEEE;
}

.home-rectangle{
    position: absolute;
    background-color: black;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 160px;
}
#home-score{
    /* home-points-text */

    position: absolute;
    width: 117px;
    height: 120px;
    left: 100px;
    top: 87px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;

    /* or 141% */
    text-align: center;

    color: #F94F6D;
}
#plus-1-home{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 300px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
}

#plus-2-home{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 300px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
 }

#plus-3-home{
/* plus-3-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 300px;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}









/*guest side*/
#guest{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    
    /* identical to box height, or 90% */
    text-align: center;
    
    color: #EEEEEE;
}

.guest-rectangle{
    position: absolute;
    background-color: black;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 160px;
}
#guest-score{
    position: absolute;
    width: 117px;
    height: 120px;
    left: 355px;
    top: 87px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;

    /* or 141% */
    text-align: center;

    color: #F94F6D;
}
#plus-1-guest{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 337px;
    top: 300px;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
}

#plus-2-guest{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 391px;
    top: 300px;
        
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
}

#plus-3-guest{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 447px;
    top: 300px;
        
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
}
/*reset scores*/

#reset-score{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 268px;
    top: 200px;
        
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 10px; 
}