@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
@import url('http://fonts.cdnfonts.com/css/verdana');


html{
    /* empty-state */
    position: relative;
    width: 575px;
    height: 385px;

    background: #1B244A;
}
/*home side*/
#home{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    /* identical to box height, or 90% */
    text-align: center;

    color: #EEEEEE;
}

.home-rectangle{
    position: absolute;
    background-color: black;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 160px;
}
#home-score{
    /* home-points-text */

    position: absolute;
    width: 117px;
    height: 120px;
    left: 100px;
    top: 87px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;

    /* or 141% */
    text-align: center;

    color: #F94F6D;
}
#plus-1-home{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 300px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    
}
#plus-1-home-text{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 93px;
    top: 240px;
    
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 127px;

}
#plus-2-home{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 300px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
 }
#plus-2-home-text{
/* plus-one-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 150px;
    top: 240px;
    
    font-family: 'Cursed Timer ULiL';
    color: #9aabd8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 127px;
}
#plus-3-home{
/* plus-3-point */
    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 300px;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
}
#plus-3-home-text{
    /* plus-3-point */
        position: absolute;
        width: 45px;
        height: 45px;
        left: 205px;
        top: 240px;
        
        font-family: 'Cursed Timer ULiL';
        color: #9aabd8;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 127px;
    }









/*guest side*/
#guest{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    
    /* identical to box height, or 90% */
    text-align: center;
    
    color: #EEEEEE;
}

.guest-rectangle{
    position: absolute;
    background-color: black;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 160px;
}
.guest-score{
    position: absolute;
    width: 117px;
    height: 120px;
    left: 355px;
    top: 87px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;

    /* or 141% */
    text-align: center;

    color: #F94F6D;
}
